<span style="float: right">
    <a href="@Url.Action("GioHang", "GioHang")" style="float: right">
        <i class="fa-solid fa-cart-shopping" style="color: black">(@ViewBag.TongSoLuong)</i>
    </a>
</span>